.container {
  display: none;
}

#sc {
  visibility: hidden ;
}

.sr-only {
  display:block;
}

.progress {

  width: 50%;
}

.sidetab_left {
  color: #3A405A;
}

.sidetab_right {
  color: #3A405A;
}

#leftMenu {
  color: #3A405A;
}

#rightMenu {
  color: #3A405A;
}

#closeLeft {
  background-color: #99B2DD;
}

#closeRight {
  background-color: #99B2DD;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

#world {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;

  z-index: -1;
  /* background-color: #F9DEC9; */
  background: linear-gradient(to bottom right, #F9DEC9, #Fe3145);
}
